spring.application.name=bulletin

# PostgreSQL 연결
spring.datasource.url=jdbc:postgresql://localhost:5432/bulletin_board
spring.datasource.username=postgres
spring.datasource.password=여기에_비밀번호_입력
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA 설정
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
